<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xiao.animationsummary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewAnimActivity"
            android:label="View动画">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PropertyAnimActivity"
            android:label="属性动画">
        </activity>
        <activity
            android:name=".FrameAnimActivity"
            android:label="帧动画">
        </activity>
        <activity
            android:name=".TypeEvaluatorActivity"
            android:label="TypeEvaluator">
        </activity>
        <activity
            android:name=".LayoutAnimationActivity"
            android:label="LayoutAnimation">
        </activity>
        <activity
            android:name=".LayoutTransitionActivity"
            android:label="LayoutTransition">
        </activity>
        <activity
            android:name=".ActivityAnimActivity"
            android:label="转场动画（Android5.0之前）">
        </activity>
        <activity
            android:name=".NextActivity"
            android:label="转场动画（Android5.0之前）">
        </activity>
        <activity
            android:name=".TransitionActivity"
            android:label="转场动画（Android5.0之后）">
        </activity>
        <activity
            android:name=".NextTransitionActivity"
            android:label="转场动画（Android5.0之后）">
        </activity>
    </application>

</manifest>